<?xml version='1.0' encoding='utf-8'?>
<widget id="com.loader.appx" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>APPX</name>
    <description>Mighty Hacking Multitool</description>
    <author>Anonymous Hacker</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="33" />
    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
    </platform>
</widget>
